* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.boton{
  border: 1px solid red;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
}
.boton:active{
  background-color: grey
}
.title-cuenta{
  font-weight: bold !important;
  margin-block: 5px !important;
}
#datosPersonales{
  display: flex;
  width: 100%;
  overflow: hidden;
}
#datosPersonales div{
  width: 100%;
  flex-shrink: 0;
  height: fit-content;
}